<h1>Friends#new</h1>
<p>Find me in app/views/friends/new.html.erb</p>

<%= form_for @friend do |f| %>

	name <%= f.text_field :name %>
	<br>
	how much do you want to spend on them? <%= f.number_field :budget %>

	<p>

	<%= f.submit "create" %>

<% end %>